<div class="container pt-4">
  <div class="d-flex justify-content-between py-4">
    <h1 class="mb-0">All lists</h1>
    <%= link_to "Create new list", new_list_path, class: 'btn btn-gradient'%>
  </div>
  <div class="cards py-4">
    <% @lists.each do |list| %>
      <%= link_to list_path(list),  style: 'text-decoration:none; color:gray' do %>
        <div class="card-category">
          <%= list.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
